node_modules/
mobile/node_modules/
mobile/.expo/
mobile/package-lock.json
__pycache__/
*.pyc
.env
.env.local
.env.*.local
mongoATLAS pasword.txt
atlas connection string.txt
chatGPT_secretKey.txt
registryName.txt
chatGPT_secretKey.txt
