MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=ab_deliveries
USERS_COLLECTION_NAME=users
NODE_AI_URL=http://127.0.0.1:3001/toast-message
NODE_AI_TIMEOUT_SECONDS=7
NODE_AI_RETRY_COUNT=3
ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:8081,http://127.0.0.1:8081
